/*
    ---------------- INIT -----------------
*/
div, form, body, html, h1, h2 {
    margin: 0; padding: 0;
}

html {
    background: url('../images/pages/background.jpg');
    width: 960px;
    margin: 0 auto;
    position: relative;
    color: #FFF;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#webview > *, #cr-stage, #gamePanel {
    margin: 0 auto;
}

#header {
    width: 100%;
    height: 140px;
    text-align: center;
    background: rgba(11, 15, 20, 0.5);
    font-family: 'Verdana';
    padding-top: 5px;
}

.page {
    background: rgba(1, 1, 1, 0.5);
    color: #FFF;
    width: 960px;
    height: 640px;
    text-align: center;
    position: relative;
}

.panel {
    text-align: center;
}

.buttons, .buttons-small {
    background: #0f1420;
    background: linear-gradient(to bottom, #0f1420 50%,#070c19 50%);
    background: -o-linear-gradient(top, #0f1420 50%,#070c19 50%);
    background: -webkit-linear-gradient(top, #0f1420 50%,#070c19 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#0f1420), color-stop(50%,#070c19));
    width: 940px;
    padding-left: 20px;
    text-align: left;
    margin-top: 10px;
}

.buttons button, .buttons-small button {
    font-family: 'Verdana';
    font-weight: bold;
    color: #0FA;
    display: inline-block;
    border: none;
    background: none;
    font-size: 16px;
    border: none;
    height: 60px;
}

.buttons button:hover {
    background: #0C9;
    color: #FFF;
}



.buttons-small {
    margin: 0;
}

.buttons-small button {
    color: #CCF;
    height: 40px;
    font-size: 14px;
}

.buttons-small button:hover {
    background: #0C9;
    color: #FFF;  
}

/*
    ------------ GAME_PANEL -------------
*/

#gamePanel {
    width: 160px;
    height: 640px;
    margin: 0 auto;
    left: 800px;
    top: 145px;
    background: chartreuse;
    position: absolute;
    z-index: 1;
}


/*
    --------------- MENU ----------------
*/


/*
    --------------- NEW GAME ----------------
*/

#scene-new-game-p2p > *,
#scene-new-game-laser > * {
    display: block;
    width: 100%;
    text-align: center;
}

#scene-new-game-p2p,
#scene-new-game-laser {
    display: inline-block;
}

#scene-new-game-p2p {
    margin-left: 150px;
    margin-right: 140px;
}

#scene-new-game-laser {
    margin-right: 150px;
}

#scene-new-game-next, #scene-level-up-but {
    margin-top: 30px;
    width: 320px;
    height: 60px;
}



/*
    ------------ PANEL-TOWERS ------------
*/

#panel-main-towers, #panel-main-towers li {
    margin: 0;
    padding: 0;
}
#panel-main-towers li {
    display: inline-block;
    width: 48px;
    height: 48px;
    line-height: 48px;
    border: 1px solid green;
    background: forestgreen;
    float: left;
    margin-right: 2px;
    margin-bottom: 2px;
}

table {
    position: relative;
    left: 370px;
    display: block;
}

td {
    text-align: left;
    padding-left: 20px;
    font-weight: bold;
    font-size: 20px;
}

#levelUpImg {
    position: relative;
    left: 330px;
    display: block;
}

.r {
    text-align: right;
}