/*
    ---------------- INIT -----------------
*/
* {
    font-family: 'Verdana';
}

div, form, body, html, h1, h2, h3, h4, h5 {
    margin: 0; padding: 0;
}

html {
    background: url('../images/pages/background.jpg') top center;
    width: 960px;
    margin: 0 auto;
    position: relative;
    color: #FFF;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#levelChoose {
    margin-top: 0em;
    padding-top: 2em;
}

.levels li {
    display: inline-block;
    width: 140px;
}

#webview > *, #cr-stage, #gamePanel {
    margin: 0 auto;
}

#cr-stage {
    padding-right: 160px;
}

#header-main h1 {
    padding-top: 5px;
    padding-bottom: 45px;
    text-align: left;
}

#header-main h2 {
    padding-top: 35px;
    text-align: left;
    color: #999;
    font-weight: normal;
}

#header {
    width: 100%;
    height: 210px;
    text-align: center;
    padding-top: 5px;
}

.page {
    background: rgba(1, 1, 1, 0.75);
    color: #FFF;
    width: 960px;
    height: 640px;
    text-align: center;
    position: relative;
}

.panel {
    text-align: center;
}

.buttons, .buttons-small {
    background: #0f1420;
    background: linear-gradient(to bottom, #0f1420 50%,#070c19 50%);
    background: -o-linear-gradient(top, #0f1420 50%,#070c19 50%);
    background: -webkit-linear-gradient(top, #0f1420 50%,#070c19 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#0f1420), color-stop(50%,#070c19));
    width: 940px;
    padding-left: 20px;
    text-align: left;
    margin-top: 10px;
}

.buttons button, .buttons-small button {
    font-weight: bold;
    color: #0C9;
    display: inline-block;
    border: none;
    background: none;
    font-size: 16px;
    border: none;
    height: 48px;
}

.buttons button:hover {
    background: #0C9;
    color: #FFF;
}



.buttons-small {
    margin: 0;
}

.buttons-small button {
    color: #CCF;
    height: 40px;
    font-size: 14px;
}

.buttons-small button:hover {
    background: #06F;
    color: #FFF;  
}

.scene-button {
    background: #0f1420;
    background: linear-gradient(to bottom, #0f1420 50%,#070c19 50%);
    background: -o-linear-gradient(top, #0f1420 50%,#070c19 50%);
    background: -webkit-linear-gradient(top, #0f1420 50%,#070c19 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#0f1420), color-stop(50%,#070c19));
    color: white;
}

.scene-button:disabled {
    color: grey;
}

.scene-input {
    background: #0f1420;
    background: linear-gradient(to bottom, #0f1420 50%,#070c19 50%);
    background: -o-linear-gradient(top, #0f1420 50%,#070c19 50%);
    background: -webkit-linear-gradient(top, #0f1420 50%,#070c19 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#0f1420), color-stop(50%,#070c19));
    color: white;
}

/*
    ------------ GAME_PANEL -------------
*/

#gamePanel {
    width: 160px;
    height: 640px;
    margin: 0 auto;
    left: 800px;
    top: 215px;
    background: rgba(11, 15, 20, 0.75);
    position: absolute;
    z-index: 1;
}

#towerInfo {
    padding-top: 10px;
    clear: both;
}
#towerInfo .prop {
    display: block;
    width: 150px;
    margin-left: 5px;
    font-size: 10px;
}

#towerInfo .prop-name{
    font-weight: bold;
    font-size: 11px;
}

#panel-main {
    height: 640px;
    position: relative;
}

#towerMenu {
    display: block;
    position: absolute;
    text-align: center;
    width: 160px;
    right: 0;
    padding: 9px 0;
    bottom: 92px;
}

#controls {
    display: block;
    position: absolute;
    text-align: center;
    width: 160px;
    right: 0;
    bottom: 0;
    padding: 9px 0;
    border-top: 1px solid #000;
    background: rgba(11, 15, 20, 0.8);
}

#controls > img {
    width: 32px;
    height: 32px;
}


/*
    --------------- GAME MENU ----------------
*/
.coininfo {
    margin-right: 10em;
    width: 100%;
    height: 32px;
    text-align: right;
    opacity: 0.7;
}

.coin {
    width: 32px;
    height: 32px;
    padding: 5px;
    float: right;
}

#moneyPoints {
    padding: 5px;
    font-weight: bold;
    font-size: 1.5em;
}

.levelBut {
    width: 140px;
    height: 112px;
    display: block;
}

.tableLevels {
    position: relative;
    left: 20.8em;
    text-align: center;
}

.bestScore {
    text-align: center;
    font-weight: lighter;
    font-size: 0.55em;
}

.playerSelect {
    text-align: center;
    border: 1px solid grey;
    width:8em;
    background: rgba(11, 15, 20, 0.5);
    cursor: pointer;
}

.playerSelect input{
    display: inline;
    height: 1em;
}

#soldierName, #laserName {
    opacity: 0.7;
}

.names {
    font-size: 1.3em;
    font-family: Arial;
}
/*
    --------------- NEW GAME ----------------
*/

#scene-new-game-p2p > *,
#scene-new-game-laser > * {
    display: block;
    width: 100%;
    text-align: center;
}

#scene-new-game-p2p,
#scene-new-game-laser {
    display: inline-block;
}

#scene-new-game-p2p {
    margin-left: 150px;
    margin-right: 140px;
}

#scene-new-game-laser {
    margin-right: 150px;
}

#scene-new-game-next, #scene-level-up-but {
    margin-top: 30px;
    width: 320px;
    height: 60px;
}

.sceneMode {
    padding: 0 2em;
    padding-bottom: 1em;
    margin-top: -3px;
    /*background: rgba(11, 15, 20, 0.8);*/
}

.sceneMode h1 {
    font-size: 1.4em;
}

.sceneMode h3 {
    font-size: 1.1em;
}

.sceneMode h4 {
    font-size: 1.0em;
    padding-top: 1em;
}

.sceneMode h5 {
    font-size: 0.8em;
    padding-top: 1.5em;
}

.sceneMode img {
    padding: 10px 0;
}

#story p {
    text-align: justify;
    text-indent:3em;
    font-size: 0.8em;
}

.enemiesScene ul, li {
    list-style-type: none;
    text-align: left;
    padding-bottom: 0.2em;
}

.enemiesScene img {
    vertical-align: middle;
}

.enemiesScene p {
    font-size: 0.8em;
    display: inline;
    padding-left: 3em;
}

.enemiesScene .bold{
    font-weight: bold;
}

.enemiesScene img{
    padding: 0;
}

img.brown {
    width: 32px;
    height: 32px;
    background: url(../images/enemies.png) -196px -88px;
}

img.red {
    width: 32px;
    height: 32px;
    background: url(../images/enemies.png) -196px -120px;
}

img.blue {
    width: 32px;
    height: 32px;
    background: url(../images/enemies.png) 0px -224px;
}

img.green {
    width: 32px;
    height: 32px;
    background: url(../images/enemies.png) -76px -216px;
}

img.yellow {
    width: 32px;
    height: 32px;
    background: url(../images/enemies.png) -160px -160px;
}

img.purple {
    width: 32px;
    height: 32px;
    background: url(../images/enemies.png) -124px -168px;
}

/*
    ------------ PANEL-TOWERS ------------
*/
#panel-main-towers, #panel-main-towers li {
    margin: 0;
    padding: 0;
}

#panel-main-towers {
    margin-left: 5px;
}

#panel-main-towers li {
    display: inline-block;
    width: 48px;
    height: 48px;
    line-height: 48px;
    float: left;
    margin-right: 2px;
    margin-bottom: 2px;
}

table {
    position: relative;
    left: 370px;
    display: block;
}

td {
    text-align: left;
    font-weight: bold;
    font-size: 1.0em;
}

#levelUpImg, gameCompImg, levelCompImg, levelFailImg {
    position: relative;
    left: 180px;
    display: block;
}

.r {
    text-align: right;
    padding-right: 1em;
    padding-left: 1em;
}

#moneyInfo {
    font-weight: lighter;
    font-size: 0.7em;
}

#info {
    padding-top: 10px;
    padding-bottom: 20px;
}
#info span {
    line-height: 24px;
    padding-right: 2px;
    height: 16px;
    display: inline-block;
}

#info img {
    vertical-align: middle;
}

#waveInfoHolder  * {
    display: inline;
    text-align: center;
}

#waveInfoHolder {
    padding-bottom: 10px;
}



.towerMenu-action-disabled {
    opacity: 0.5;
}

.towerMenu-action {
    cursor: pointer;
}

.towerMenu-action:hover, #panel-main-towers img:hover {
    box-shadow: 0 0 10px #FFF;
}
