/*
    ---------------- INIT -----------------
*/
div, form, body {
    margin: 0; padding: 0;
}

.page {
    border: 1px solid red;
    background: #222;
    color: #FFF;
    width: 960px;
    height: 640px;
    text-align: center;
    font-family: 'Verdana';
    position: absolute;
}

.panel {
    text-align: center;
}

.buttons {
    border: 4px double #FFF;
    width: 320px;
    margin: 0 auto;
}

.buttons button {
    font-family: 'Times New Roman';
    font-size: 24px;
    border: none;
    background: #333;
    font-weight: bold;
    color: #AAA;
    width: 100%;
    height: 60px;
    border: 1px solid #666;
}

.buttons button:hover {
    background: #611;
    color: #FFF;
}
/*
    ------------ GAME_PANEL -------------
*/

#gamePanel {
    width: 160px;
    height: 640px;
    left: 800px;
    top: 0;
    background: chartreuse;
    position: absolute;
    z-index: 1;
}


/*
    --------------- MENU ----------------
*/


/*
    --------------- NEW GAME ----------------
*/

#scene-new-game-p2p > *,
#scene-new-game-laser > * {
    display: block;
    width: 100%;
    text-align: center;
}

#scene-new-game-p2p,
#scene-new-game-laser {
    display: inline-block;
}

#scene-new-game-p2p {
    margin-left: 150px;
    margin-right: 140px;
}

#scene-new-game-laser {
    margin-right: 150px;
}

#scene-new-game-next, #scene-level-up-but {
    margin-top: 30px;
    width: 320px;
    height: 60px;
}



/*
    ------------ PANEL-TOWERS ------------
*/

#panel-main-towers, #panel-main-towers li {
    margin: 0;
    padding: 0;
}
#panel-main-towers li {
    display: inline-block;
    width: 48px;
    height: 48px;
    line-height: 48px;
    border: 1px solid green;
    background: forestgreen;
    float: left;
    margin-right: 2px;
    margin-bottom: 2px;
}

table {
    position: relative;
    left: 370px;
    display: block;
}

td {
    text-align: left;
    padding-left: 20px;
    font-weight: bold;
    font-size: 20px;
}

#levelUpImg {
    position: relative;
    left: 330px;
    display: block;
}

.r {
    text-align: right;
}